<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I obtained my Bachelor's degrees (Bachelor of Management and Bachelor of Science) in 2012 and Master's degrees in Psychology in 2015 from Southwest University in China. I was awarded National First-class Graduate Scholarship and National Scholarship for Postgraduate during my graduate study. I obtained my Ph.D. degree from University College Dublin in 2019. My Ph.D. projects focused on the reward processing endophenotypes of alcohol misuse, in which computational modeling and neural modulation analysis were employed to interrogate tasked-related fMRI and EEG data.</p>
</div><!--//summary-->
</section><!--//section-->
