 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">Doctor of Philosophy</h4>
    <h5 class="meta">School of Psychology</h5>
     <h5 class="meta">University College Dublin</h5>
    <div class="time">2015-2019</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Master</h4>
    <h5 class="meta">School of Psychology</h5>
    <h5 class="meta">Southwest University</h5>
    <div class="time">2012-2015</div>
  </div><!--//item-->
  <div class="item">
      <h4 class="degree">Bachelor of Science</h4>
      <h5 class="meta">School of Psychology</h5>
            <h5 class="meta">Southwest University</h5>
      <div class="time">2009 - 2011</div>
  </div><!--//item-->
<div class="item">
    <h4 class="degree">Bachelor of Management</h4>
    <h5 class="meta">School of Biotechnology</h5>
    <h5 class="meta">Southwest University</h5>
    <div class="time">2008 - 2012</div>
</div><!--//item-->
</div><!--//education-container-->
