<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Research Experiences</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Post-doctoral associate</h3>
                            <div class="time">2019-Present</div>
                        </div><!--//upper-row-->
                        <div class="company">University of Vermont</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> I am currently working as post-doctoral researcher in ENIGMA addiction working group, superived by Hugh Garavan and Scott Mackey. My interest is to identify neuroimaging and genetic biomarkers for substance dependence</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Doctor of Philosophy</h3>
                            <div class="time">2015 - 2019</div>
                        </div><!--//upper-row-->
                        <div class="company">University College Dublin</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>My main research works during my Ph.D. were based on IMAGEN project. IMAGEN is a European research project examining how biological, psychological, and environmental factors during adolescence may influence brain development and mental health. I characterized the adolescent reward system with activation and connectivity maps during reward anticipation, receipt, omission and prediction error. I have gained a deep understanding of fMRI data processing (e.g., PPI analysis, model-based neuromodulation analysis) and much experience in dealing with a large sample of fMRI data. I also helped the team to pre-process EEG data, process behavioral log files from Presentation. I have participated in two data competitions that used 1) resting-state data to predict autism (https://paris-saclay-cds.github.io/autism_challenge/); 2) structural data to predict brain age (https://www.photon-ai.com/pac2019), in which I gained a lot of understanding of machine learning.  </p>
                    </div><!--//details-->
                </div><!--//item-->


                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Master</h3>
                            <div class="time">2012-2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Southwest University</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>My main studies were using EEG. I have gained essential research experiences including experiment design, running EEG experiment, analyzing EEG data during this period. To make nice figures, I learned how to use Adobe illustrator and photoshop. I also attended several workshops on fMRI data which gave tutorials on fMRI data analysis. I had 2 first-author papers and was awarded National Scholarship for Postgraduate once and National First-class Graduate Scholarship for three times.</p>
                        <p> </p>
                    </div><!--//details-->
                </div><!--//item-->



                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Publication</h3>
                        </div><!--//upper-row-->
                        <div class="company">2014-present</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Whelan, R., <b>Cao, Z.</b>, O’Halloran, L. & Pennie, B. (in press). Genetics, imaging and cognition: Big Data approaches to addiction research. In Cognition And Addiction: From Mechanisms to Interventions, Ed. Verdejo-Garcia, A. Elsevier, Amsterdam.  </p>
                        <p>Zeng, J., Wang, Y., Zeng, J., <b>Cao, Z.</b>, Chen, H., Liu, Y., ... & Su, L. (2019). Predicting the behavioural tendency of loss aversion. Scientific reports, 9(1), 5024.</p>
                        <p>O'Halloran, L., Rueda‐Delgado, L. M., Jollans, L., <b>Cao, Z.</b>, Boyle, R., Vaughan, C., ... & Whelan, R. (2019). Inhibitory‐control event‐related potentials correlate with individual differences in alcohol use. Addiction biology.</p>
                        <p>Orr, C., Spechler, P., <b>Cao, Z.</b>, Albaugh, M., Chaarani, B., Mackey, S., ... & Garavan, H. (2019). Grey Matter Volume Differences Associated with Extremely Low Levels of Cannabis Use in Adolescence. Journal of Neuroscience, 39(10), 1817-1827.</p>
                        <p><b>Cao, Z.</b>, Bennett, M., Orr, C., Icke, I., Banaschewski, T., Barker, G. J., ... & Whelan, R. (2019). Mapping adolescent reward anticipation, receipt, and prediction error during the monetary incentive delay task. Human brain mapping.</p>
                        <p> O'halloran, L., <b>Cao,Z.</b>, Ruddy, K., Jollans, L., Albaugh, M. D., Aleni, A., ... & Whelan, R. (2018). Neural circuitry underlying sustained attention in healthy adolescents and in ADHD symptomatology. NeuroImage, 169, 395-406.</p>
                        <p>Padilla, M. M., O’Halloran, L., Bennett, M., <b>Cao, Z.</b>, & Whelan, R. (2017). Impulsivity and reward processing endophenotypes in youth alcohol misuse. Current Addiction Reports, 4(4), 350-363.</p>
                        <p>Jollans, L., <b>Cao, Z.</b>., Icke, I., Greene, C., Kelly, C., Banaschewski, T., ... & Whelan, R. (2016). Ventral striatum connectivity during reward anticipation in adolescent smokers. Developmental neuropsychology, 41(1-2), 6-21.</p>
                        <p><b>Cao, Z.</b>, Li, Y., Hitchman, G., Qiu, J., & Zhang, Q. (2015). Neural correlates underlying insight problem solving: Evidence from EEG alpha oscillations. Experimental brain research, 233(9), 2497-2506.</p>
                        <p>Zeng, J., <b>Cao, Z.</b>, Huang, J., Hitchman, G., & Zhang, Q. (2014). Predictability influences whether outcomes are processed in terms of original or relative values. Brain and cognition, 90, 1-7.</p>
                    </div><!--//details-->
                </div><!--//item-->
